*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1b1b32;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  
}
.contenedor__logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

}

.logo__img{
  height: 250px;
  object-fit:fill;
  border-radius: 10px;
  

}

.contenedor__principal{
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
